.wrapper {
    width: 400px;
    margin-right: 0;
}

.header {
    background-color: #141f40;
    height: 150px;
    width: 650px;
}

.main {
    height: 300px;
    width: 650px;
}

.main-left {
    background-color: #80bfa8;
    float: left;
    height: 300px;
    width: 250px;
}

.main-right {
    float: left;
    background-color: #8c2727;
    height: 300px;
    width: 250px;
    padding-right: 150px;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.footer {
    background-color: #d98d30;
    width: 650px;
    height: 150px;
}

.main-right::after {
    content: " ";
    display: block;
    clear: both;
}

.container {
    display: flex;
    margin-left: 350px;
    padding: 45px;
}

.top-1 {
    background-color: #a9004b;
    width: 60px;
    height: 40px;
    border: solid 12px white;
}

.top-2 {
    background-color: #a9004b;
    width: 60px;
    height: 40px;
    border: solid 12px white;
}

.top-3 {
    background-color: #a9004b;
    width: 60px;
    height: 40px;
    border: solid 12px white;
}

.parent {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 60px;
    padding: 40px;
}

.box-a {
    width: 140px;
    height: 40px;
    padding-left: 60px;
    background-color: #ff893f;
    border: solid 7px white;
}

.box-b {
    float: right;
    background-color: #ff893f;
    width: 140px;
    height: 40px;
    padding-left: 60px;
    margin-top: 15px;
    border: 7px solid white;
}

.box-c {
    float: right;
    background-color: #ff893f;
    width: 140px;
    height: 40px;
    padding-left: 60px;
    margin-top: 15px;
    border: 7px solid white;
}

@media screen and (max-width:479px) {
    .wrapper {
        width: 350px;
        margin-right: 0;
    }
    .header {
        height: 225px;
        width: 350px;
    }
    .main {
        height: 200px;
        width: 350px;
    }
    .main-left {
        float: none;
        height: 200px;
        width: 350px;
    }
    .main-right {
        float: none;
        height: 230px;
        width: 350px;
        padding-right: 1px;
    }
    .clearfix:after {
        content: " ";
        display: block;
        clear: both;
    }
    .footer {
        width: 350px;
        height: 200px;
        margin-top: 225px;
    }
    .main-right::after {
        content: " ";
        display: block;
        clear: both;
    }
    .container {
        display: inline-block;
        margin-left: 100px;
        padding-right: 70px;
        margin-bottom: 20px;
        padding-top: 13px;
    }
    .top-1 {
        width: 45px;
        height: 40px;
    }
    .top-2 {
        width: 45px;
        height: 40px;
    }
    .top-3 {
        width: 45px;
        height: 40px;
    }
    .parent {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 20px;
    }
    .box-a {
        width: 100px;
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .box-b {
        width: 100px;
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 12px;
    }
    .box-c {
        width: 100px;
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 12px;
    }
}